/* EXAMPLE ONE - THE *TRICKY* CSS SELECTORS */

/* Pseudo Selectors */

/* Pseudo Classes */
/* specifies a special state of the selected element*/
/*https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes*/


/* nth-child */

/* li:nth-child(3){
    border: 1px solid red;
} */


/* nth-of-type */

li:nth-of-type(3){
    border: 1px solid red;
} 

li:nth-child(odd){
    font: bold;
}
    /* TRY IT 
    use nth-of-type to target the third h2 */ 
    section :nth-of-type(3) h2 {
        color: blue;
    }
    



    /*TRY IT 
    use nth-child to target the second h2 

*/


/* Pseudo Elements */
/*A CSS pseudo-element is a keyword added to a selector that lets you style a specific part of the selected element(s) */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements*/ 






/* Combinators */

/* combine other selectors in a way that gives them a useful relationship to each other and the location of content in the document */ 

/* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors/Combinators */ 



/* Descendant Selector */

section em {
    color: red;
}
/* Direct Child Selector */

.first-line > em {
    color: red;
}
/* Adjacent Sibling Selector */


/* General Sibling Selector */
