/* nth-of-type */
h2:nth-of-type(3) {
  color: blue;
}

/* nth-child */
h2:nth-child(2) {
  color: red;
}
p::first-line {
  font-weight: bold;
}

p::before {
  content: "Note: ";
  color: orange;
}

p::after {
  content: " ★";
  color: gold;
}
/* Descendant Selector*/
p em {
  color: green;
}

/* Direct Child Selector */
ul > li {
  list-style-type: square;
}

/* Adjacent Sibling Selector */
h2 + h3 {
  color: purple;
}

/* General Sibling Selector */
h2 ~ h3 {
  color: teal;
}
