.container {
    width: 800px;
    height: 1400px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box; /*width at 800px */
}

.photo {
    position: relative; 
}

.photo > .photo-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
}
header {
    position: sticky;
    top: 0;
    background-color: #000;
    color: #fff;
    padding: 20px;
    z-index: 1000; /*to keep it above */
}
